* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
   } 

/*navbar*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #997C70; 
}

ul li{
    float: left;
}

ul li a{
    display: block;
    color: #FDF7F4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Muli;
}

ul li a:hover{
    background-color: #8EB486;
}

/*cover*/
.cover-content {
    height: 90vh;
    background-color: #e5e5f7;

    opacity: 0.8;
    background: radial-gradient(circle, transparent 20%, #FDF7F4 20%, #FDF7F4 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #FDF7F4 20%, #FDF7F4 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#8EB486 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #8EB486 2px, #FDF7F4 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-content img{
    height: 350px;
    border-style: solid;
    border-width: 5px;
    border-color: #685752;
    border-top-right-radius: 25%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 50%

}

.cover-content h1{
    font-family: 'Space Mono',monospace;
    font-size: 150px;
    color: #8EB486;
}



/*Space Mono and Muli*/

/*profolio*/
.profolio-content{
    height: 90vh;
    width: 100%;
}


/*fun*/
.funstuff-content{
    height: 90vh;
    width: 100%;
}


